/* chessboard.css */
.flipped-board {
  transform: rotate(180deg);
}

.flipped-board .piece-icon {
  transform: rotate(180deg); /* បង្វិលកូនអុកឱ្យត្រង់វិញ */
}

/* សម្រាប់ Animation ពេល Checkmate លោតចេញមក */
.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

